<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/common::head('회원가입')">
</head>
<body>
<link th:href="@{/css/sign.css}" rel="stylesheet">
<div th:replace="fragment/common::header('join')"></div>
<div class="container">
<br>
    <br>
    <div class="card">
        <h3 class="card-header">회원가입</h3>
        <div class="card-body">
            <form th:action="@{/account/register}" method="post" th:object="${form}">
                <div class="form-floating mb-3">
                    <input type="email" th:field="*{email}" class="form-control" id="floatingInput"
                           placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" th:field="*{password}" id="password" class="form-control"
                           placeholder="Password">
                    <label for="password">비밀번호</label>
                </div>
<!--                <div class="form-floating">-->
<!--                    <input type="password" th:field="*{password}" id="password" class="form-control"-->
<!--                           placeholder="Password">-->
<!--                    <label for="password">비밀번호확인</label>-->
<!--                </div>-->
                <div class="form-floating">
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Password">
                    <label for="name">이름</label>
                </div>
                <div class="form-floating">
                    <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="Password">
                    <label for="phone">휴대폰번호 (-)없이 입력해주세요.</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">가입하기</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragment/common::footer"></div>
</body>
</html>